:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-accent: #D13532;
    --color-dark: #252525;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

a {
    transition: all 0.3s ease-in-out;
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Neue Montreal';
    line-height: 1;
    color: var(--color-black);
}

p {
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
}

/* will delete */
main {
    min-height: 80vh;
}

.section-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: 24px;
    display: inline-block;
}

.section-heading {
    font-size: 40px;
    line-height: 1.2;
}

.container {
    max-width: 1560px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 24px;
    padding: 11px 19px;
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    background: transparent;
    transition: all 0.3s ease;
}

.btn.btn-primary {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
}

.btn.btn-primary:hover {
    background: #B82623;
}

.btn.btn-white {
    background: var(--color-white);
    color: var(--color-dark);
}

.btn.btn-white-secondary {
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn.btn-white-secondary:hover {
    background: rgb(255, 255, 255, 0.2);
}

.btn.btn-black {
    background: var(--color-dark);
    color: var(--color-white);
}

.btn.btn-black-secondary {
    border-color: var(--color-dark);
    color: var(--color-dark);
}

.btn.btn-white:hover,
.btn.btn-black:hover,
.btn.btn-black-secondary:hover {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
}

.swiper-pagination {
    bottom: -2px !important;
}

.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
    background: #D9D9D9 !important;
    opacity: 1 !important;
    margin: 0 1px !important;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 14px !important;
    background: var(--color-black) !important;
    border-radius: 20px !important;
}

.header-site {
    position: sticky;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 99;
    background: var(--color-white);
}

.header-site .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header-site .header-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-site .header-right {
    display: flex;
    gap: 16px;
}

.header-site .header-line-space {
    width: 1px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
}

.header-site .header-logo {
    width: 140px;
    flex-shrink: 0;
}

.header-site .header-logo img {
    width: 100%;
}



.header-site .header-menu>nav>ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.header-site .header-menu>nav>ul>li {
    position: relative;
}

.header-site .header-menu>nav>ul>li>a {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    display: block;
    padding: 34px 15px;
    text-decoration: none;
}

.header-site .header-menu>nav>ul>li:first-child>a {
    padding-left: 0;
}


.header-site .header-menu>nav>ul>li>a:hover {
    color: var(--color-accent);
}


.header-site .mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
}

.header-site .has-mega-menu:hover .mega-menu,
.header-site .has-mega-menu.is-active .mega-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.mega-menu-wrap {
    padding: 46px 0 60px;
}

.mega-menu-inner {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(450px, 690px);
    gap: 40px;
    align-items: start;
}

.header-site .header-menu>nav>ul>li.has-mega-menu {
    position: static;
}

.mega-menu-links {
    display: grid;
    grid-template-columns: 240fr 232fr 278fr;
    gap: 20px;
}

.mega-menu-column ul {
    list-style: none;
    margin: 32px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}


.mega-menu-column ul li a {
    display: block;
    padding: 0;
    font-family: 'PP Neue Montreal';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.02em;
}

.mega-menu-column ul li a:hover,
a.mega-menu-heading:hover {
    color: var(--color-accent);
}

.mega-menu-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 19px;
    font-size: 16px;
}

.mega-menu-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.mega-menu-card {
    position: relative;
    display: block;
    overflow: hidden;
}

.mega-menu-image {
    position: relative;
    aspect-ratio: 340/398;
    overflow: hidden;
}

.mega-menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.mega-menu-card:hover img {
    transform: scale(1.05);
}

.mega-menu-card-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;
    font-family: 'PP Neue Montreal';
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.mega-menu-card-title.title-white {
    color: var(--color-white);
}

.mega-menu-materials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.material-menu-card {
    display: block;
}

.material-menu-image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.material-menu-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.material-menu-image .card-logo {
    max-height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    z-index: 2;
}

.material-menu-card:hover .material-menu-title {
    color: var(--color-accent);
}

.material-menu-content {
    padding-top: 20px;
}

.material-menu-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'PP Neue Montreal';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    transition: all 0.3s ease;
}

.material-menu-description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    opacity: 0.6;
    max-width: 145px;
}

.header-site .header-search {
    position: relative;
}

.header-site .header-search .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: all 0.3s ease;
    color: rgba(0, 0, 0, 0.2);
}


.header-site .header-search input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--color-black);
    border-radius: 24px;
    padding: 12px 19px 12px 42px;
    transition: all 0.3s ease;
    width: 120px;
    height: 100%;
}

.header-site .header-search input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.header-search:focus-within input {
    border-color: var(--color-black);
    width: 160px;
}

.header-search:focus-within .search-icon {
    color: #000;
}

.footer-site {
    background: #1D1D1D;
    color: var(--color-white);
}

.footer-site .footer-top {
    padding: 60px 0 107px;
    display: flex;
    flex-wrap: wrap;
}

.footer-site .footer-top .footer-left {
    width: 27.24%;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-site .footer-top .footer-right {
    width: 72.76%;
}

.footer-link-title {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.footer-site .footer-logo {
    max-width: 161px;
    margin-bottom: 12px;
}

.footer-site .footer-logo img {
    width: 100%;
}

.footer-site .footer-address,
.footer-site .footer-email {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #A5A5A5;
}

.footer-email:hover {
    color: var(--color-white);
}

.footer-site .footer-address {
    max-width: 224px;
    margin-bottom: 0;
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-socials a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(165, 165, 165, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials a:hover {
    background-color: var(--color-white);
}

.footer-socials img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.footer-menus {
    display: grid;
    grid-template-columns: 253px 147px 122px;
    grid-gap: 190px;
}

.footer-menus ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 17px 58px;
    flex-wrap: wrap;
    max-height: 250px;
}

.footer-menus ul li a {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #A5A5A5;
    display: block;
}

.footer-menus ul li a:hover {
    color: var(--color-white);
}

.footer-site .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}


.footer-bottom-links {
    display: flex;
    gap: 40px;
}

.footer-copyright,
.footer-bottom-links a {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #A5A5A5;
}

.footer-bottom-links a:hover {
    color: var(--color-white);
}

/* Module Hero Section */
.hero-sec {
    min-height: 850px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--color-white);
    padding: 60px 0;
}

.hero-sec::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg, rgba(59, 59, 59, 0) 37.81%, rgba(59, 59, 59, 0.6) 100%);
    pointer-events: none;
}

.hero-sec .container {
    width: 100%;
}

.hero-sec .hero-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    max-width: 811px;
    z-index: 2;
}

.hero-sec .hero-heading {
    font-size: 72px;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
}

.hero-sec .hero-desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    max-width: 315px;
}

.hero-sec .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Module Explore Collections */
.expolore-coll-sec {
    padding: 100px 0 60px;
    overflow: hidden;
}

.expolore-coll__heading {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
}


.expolore-coll__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: end;
    gap: 32px;
    flex-wrap: wrap;
}


.swiper-navigation {
    display: flex;
    gap: 32px;
}

.swiper-navigation button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.swiper-navigation button.swiper-button-disabled {
    color: rgb(0, 0, 0, 0.2);
    cursor: default;
}

.swiper-navigation button.swiper-button-lock {
    display: none;
}

.expolore-coll__slider {
    overflow: visible;
    padding-bottom: 42px;
}

.expolore-coll__slider .swiper-slide {
    width: 420px;
}

.cs-product__item {
    display: block;
    overflow: hidden;
}

.cs-product__item .item-image {
    aspect-ratio: 420/580;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #FBFBFB;
    position: relative;
}

.cs-product__item .item-image img {
    width: 100%;
    transition: all 0.4s ease;
}

.cs-product__item .item-configure {
    position: absolute;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: -48px;
    transition: all 0.4s ease;
}

.cs-product__item:hover .item-configure {
    bottom: 24px;
}

.cs-product__item:hover .item-image img {
    transform: scale(1.104) translateY(-30px);

}

.cs-product__item .item-configure:hover {
    background: var(--color-dark);
    border-color: var(--color-dark);
}

.cs-product__item .item-content {
    padding-top: 16px;
}

.cs-product__item .item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.cs-product__item .item-view {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
    transform: translateY(20px);
    padding-top: 16px;
    visibility: hidden;

}

.cs-product__item .item-view svg {
    transition: all 0.3s ease;
    transform: translateX(-12px);
    opacity: 0;
}

.cs-product__item .item-view:hover {
    opacity: 1;
}

.cs-product__item .item-view:hover svg {
    transform: translateX(0);
    opacity: 1;
}

.cs-product__item:hover .item-view {
    visibility: visible;
    transform: translateY(0);
}

.swiper-scrollbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 0;
    background: #EBEBEB;
}

.swiper-scrollbar-drag {
    height: 3px;
    border-radius: 0;
    background: var(--color-dark);
}

/* Module About Stat */
.about-stat-sec {
    padding: 60px 0;
}

.about-stat__content {
    padding: 16px 0 4px;
    max-width: 1165px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-stat__content .section-heading {
    font-weight: 400;
    font-family: "Neue Montreal";
    letter-spacing: 0.02em;
    max-width: 888px;
    margin: 0 auto 80px;
    text-align: center;
}

.stat-list {
    display: grid;
    grid-template-columns: 190px 187px 131px 297px;
    grid-gap: 120px;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    position: relative;
}

.stat-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    right: -60px;
}

.stat-item:last-child::before {
    display: none;
}

.stat-item .item-value {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-accent);
}

.stat-item .item-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.about-stat__btn {
    margin-top: 60px;
    text-align: center;
}

/* Module Designed for Every Environment */
.designed-environment-sec {
    padding: 60px 0 80px;
    overflow: hidden;
}

.designed-environment__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 40px;
}

.designed-environment__heading {
    max-width: 358px;
}

/* =========================
   WORKSPACE SLIDER
========================= */

.workspace-slider {
    padding-bottom: 30px;
    overflow: visible;
}

.workspace-slider .swiper-slide {
    width: 1000px;
}



.workspace-card {
    aspect-ratio: 1000/600;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 30px;

    color: var(--color-white);
}

.workspace-card::before {
    content: "";
    position: absolute;
    inset: 0;

    pointer-events: none;

    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 59.5%,
            rgba(0, 0, 0, 0.7) 95.67%);
}




.workspace-card .card-content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: flex-start;

    transition: all 0.4s ease;

    transform: translateY(40px);
}

.workspace-card .card-models {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-white);
    display: inline-block;
    color: var(--color-black);
}

.workspace-card .card-title {
    font-size: 36px;
    line-height: 43px;
}

.workspace-card .card-title a {
    color: inherit;
}

.workspace-card .card-desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    max-width: 254px;
}

.workspace-card .card-desc p {
    margin: 0;
}

.workspace-card .card-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--color-white);
    font-family: "PP Neue Montreal";
    opacity: 0.5;
    transition: all 0.4s ease;
    margin-top: 3px;
    transform: translateY(20px);
}

.workspace-card .card-link svg {
    transform: translateX(-12px);

    transition: all 0.3s ease;

    opacity: 0;
}

.workspace-card .card-link:hover {
    opacity: 1;
}

.workspace-card .card-link:hover svg {
    transform: translateX(0);
    opacity: 1;
}

.workspace-card:hover .card-content,
.workspace-card:hover .card-link {
    transform: translateY(0);
}



.product-hotspot {
    position: absolute;
    left: var(--hotspot-x);
    top: var(--hotspot-y);
    transform: translate(-50%, -50%);
    z-index: 5;
}



.hotspot-btn {
    position: relative;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.hotspot__outer,
.hotspot__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.hotspot__middle {
    border-color: rgba(255, 255, 255, 0.6);
}

.hotspot__outer {
    width: 52px;
    height: 52px;
}

.hotspot__middle {
    width: 36px;
    height: 36px;
}



.hotspot-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotspot-btn:hover .hotspot__outer {
    transform: translate(-50%, -50%) scale(1.1923);
}

.hotspot-btn:hover .hotspot__middle {
    transform: translate(-50%, -50%) scale(1.1667);
}


.product-hotspot.active .hotspot-icon {
    background: var(--color-accent);
    color: var(--color-white);
}


.product-popup {
    position: absolute;
    top: -31px;
    width: 210px;
    min-height: 144px;
    display: flex;
    justify-content: space-between;
    background: var(--color-white);
    color: var(--color-black);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        all 0.3s ease;
    border-radius: 4px;
}

.product-hotspot.popup-right .product-popup {
    left: calc(100% + 18px);
}

.product-hotspot.popup-right.active .product-popup {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.product-hotspot.popup-left .product-popup {
    right: calc(100% + 18px);
}

.product-hotspot.popup-left.active .product-popup {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.product-popup .product-link {
    position: absolute;
    inset: 0;
}

.product-popup .product-info {
    padding: 12px 15px 12px 12px;
    display: flex;
    flex-direction: column;
    font-family: 'PP Neue Montreal';
    gap: 6px;

}

.product-popup .product-info .product-name {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 19px;
    font-weight: 500;
}

.product-popup .product-info .product-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--color-accent);
}

.product-popup .product-browse {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: auto;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-underline-offset: 2px;
}


.product-popup .product-image {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.product-popup .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Module Engineered for the way you work */
.engineered-work-sec {
    padding: 80px 0 140px;
}

.engineered-work__heading {
    max-width: 358px;
    margin-bottom: 40px;
}

.engineered-work__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.engineered-work__item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.engineered-work__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #F9F9F9;
    pointer-events: none;

    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;

}

.engineered-work__item:hover::before {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.engineered-work__item:hover .item-image img {
    transform: scale(1.05);
}

.engineered-work__item .item-image {
    aspect-ratio: 372/300;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.engineered-work__item .item-image img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    object-fit: cover;
}

.engineered-work__item .item-content {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.engineered-work__item .item-number {
    color: var(--color-accent);
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
}

.engineered-work__item .item-title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.engineered-work__item .item-desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    max-width: 297px;
}

.engineered-work__item .item-content__bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 29px;
}

.engineered-work__item .item-info__value {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: var(--color-accent);
}

.engineered-work__item .item-info__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #707070;
    margin-top: 6px;
}

/* Module CTA FULL BACKGROUND  */
.cta-sec {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--color-white);
    padding: 40px 0;
    position: relative;
}

.cta-sec::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(188.47deg, rgba(0, 0, 0, 0) 54.15%, rgba(0, 0, 0, 0.6) 87.38%);
    pointer-events: none;
}

.cta-sec .container {
    width: 100%;
}

.cta-sec .cta-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    position: relative;
    z-index: 2;
    max-width: 525px;
}

.cta-sec .cta-heading {
    font-size: 60px;
    line-height: 1.2;
}

.cta-sec .cta-desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    max-width: 375px;
}

/* Module Featured Brands */
.featured-brands-sec {
    padding: 70px 0;
}

.featured-brands__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.featured-brands__item {
    min-height: 700px;
    position: relative;
    padding: 60px 40px 170px;
    color: var(--color-black);
}

.featured-brands__item.item-right {
    color: var(--color-white);
}

.featured-brands__item::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 15.13%, rgba(255, 255, 255, 0) 60.53%);
    z-index: 1;
}

.featured-brands__item.item-right::before {
    background: linear-gradient(5.67deg, rgba(0, 0, 0, 0) 52.87%, rgba(0, 0, 0, 0.6) 83.17%);
}

.featured-brands__item .item-content {
    position: relative;
    z-index: 2;
    max-width: 349px;
}

.featured-brands__item.item-right .item-content {
    max-width: 310px;
}

.featured-brands__item .item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-brands__item .item-logo {
    position: absolute;
    z-index: 1;
    top: 72px;
    right: 47px;
    width: 119px;
}

.featured-brands__item .item-title {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.featured-brands__item.item-right .item-title {
    font-size: 48px;
    line-height: 110.00000000000001%;
}

.featured-brands__item .item-desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.featured-brands__item .section-label {
    margin-bottom: 12px;
}

.featured-brands__item.item-right .section-label {
    color: #FBFBFB;
}

.featured-brands__item .item-btn {
    margin-top: 24px;
}

.featured-brands__item.item-left .item-btn {
    padding: 11px 15px;
}

.featured-brands__services {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 32px 40px 38px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 130px;
}

.featured-brands__services .services-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.featured-brands__services .services-item::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -65px;
    width: 1px;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.1);
}

.featured-brands__services .services-item:last-child:before {
    display: none;
}

.featured-brands__services .services-item .item-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.featured-brands__services .services-item .item-value {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--color-black);

}

.featured-brands__services .services-item .item-label {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-top: 6px;
    color: var(--color-dark);
}

.popular-models-sec {
    padding: 70px 0 88px;
}

.popular-models__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.popular-models__heading {
    text-align: center;
    line-height: 1.1;
}

.model-filter {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
}

.model-filter__label {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-black);
    opacity: 0.4;
    transition: all 0.3s ease;
}

.model-filter__label.active {
    opacity: 1;
}

.model-filter__toggle {
    position: relative;
    width: 48px;
    height: 28px;
    padding: 0;
    border: 1px solid var(--color-black);
    border-radius: 999px;
    cursor: pointer;
}

.model-filter__circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-black);
    transition: all 0.3s ease;
}

.model-filter .model-filter__label--popular {
    opacity: 1;
}

.model-filter.is-newest .model-filter__circle {
    transform: translateX(20px);
    background: var(--color-white);
}

.model-filter.is-newest .model-filter__toggle {
    background-color: var(--color-black);
}

.model-filter.is-newest .model-filter__label--popular {
    opacity: 0.4;
}

.model-filter.is-newest .model-filter__label--newest {
    opacity: 1;
}

.popular-models__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.popular-models__list .cs-product__item .item-image {
    aspect-ratio: 372/510;
}

.popular-models__list .cs-product__item:hover .item-image img {
    transform: scale(1.03) translateY(-15px);
}

/* Module CTA FULL BACKGROUND 2 */

.cta-sec.cta-small-text-black {
    min-height: 700px;
    color: var(--color-black);
}

.cta-sec.cta-small-text-black::before {
    display: none;
}

.cta-sec.cta-small-text-black .cta-heading {
    color: #1D1D1D;
    line-height: 1;
    letter-spacing: 0.02em;
}

.cta-sec.cta-small-text-black .cta-desc {
    max-width: 438px;
}

.cta-sec.cta-small-text-black .cta-content {
    max-width: 469px;
    gap: 24px;
}