.about-us .hero-heading {
    max-width: 456px;
}

.about-us .hero-sec .hero-desc {
    max-width: 310px;
}

.key-statistics {
    padding: 60px 0;
}

.key-statistics .container {
    max-width: 1500px;
}

.key-statistics__grid {
    display: grid;
    gap: 138.5px;

    grid-template-columns: 132px 112px 120px 120px 131px 154px;
}

.key-statistics__item {
    position: relative;
}

.key-statistics__item:last-child {

    padding-right: 0;
}

.key-statistics__item:first-child {
    padding-left: 0;
}

.key-statistics__number {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 2%;
    text-align: center;
    white-space: nowrap;
    color: var(--color-accent);
    margin-bottom: 12px;
}

.key-statistics__text {

    text-align: center;
}

.key-statistics__item {
    position: relative;
    text-align: center;
}

.key-statistics__text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2%;
    text-align: center;
}

.key-statistics__item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 98%;
    top: 0;
    right: -65px;
    background-color: #0000001A
}

.key-statistics__item:last-child::after {
    display: none;
}

.about-manifesto {
    padding-top: 40px;
}

.about-manifesto__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-manifesto__right {
    width: calc(660px / 1520px * 100%);
}

.about-manifesto__left {
    max-width: 577px;
}

.about-manifesto .section-heading {
    font-weight: 400;
    letter-spacing: 2%;
    font-family: 'Neue Montreal';
}

.legacy-company__wrap {
    display: flex;
    gap: 140px;
    align-items: end;

}

.legacy-company__image {
    width: 100%;
}

.legacy-company {
    padding-top: 182px;
    background-color: #FAFAFA;
    padding-bottom: 308px;
    margin-bottom: -140px;
    margin-top: -50px;
}

.legacy-company__left {
    margin-left: -40px;
    width: 460px;
    min-width: 400px;
}


.legacy-company__right {
    max-width: 360px;
}

.legacy-company__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 2%;
    margin-top: 40px;

}


.red-box__content {
    max-width: 657px;

}

.red-box .container {
    width: 100%;
}

.red-box__wrap {
    min-height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 60px;
    padding-bottom: 40px;
}

.red-box-2 .red-box__wrap {
    padding-bottom: 45px;
}

.red-box__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.red-box-2 .red-box__title {
    max-width: 382px;
}

.red-box-2 .red-box__text {
    max-width: 406px;
}

.red-box__text {
    color: #FFFFFF;
    line-height: 1.4;
    max-width: 506px;
    letter-spacing: 2%;

}

.red-box__wrap::before {
    content: '';
    position: absolute;
    background: linear-gradient(-283.06deg, rgba(34, 33, 33, 0.5) 38.49%, rgba(0, 0, 0, 0) 71.2%);
    inset: 0;
    pointer-events: none;
}

.red-box__content {
    position: relative;
    z-index: 2;
}

.red-box {
    overflow: hidden;
}

.red-box__wrap::after {
    content: '';
    width: 60px;
    height: 338px;
    background-color: #D13532;
    bottom: 0;
    left: -40px;
    position: absolute;

}

.red-box-2 .red-box__wrap::after {
    height: 322px;
}

.decades-of-experience__title {
    text-align: center;
    margin-bottom: 24px;
}

.decades-of-experience__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    max-width: 327px;

}

.decades-of-experience {
    padding: 140px 0 118px 0;
}

.decades-of-experience__image {
    aspect-ratio: 1 / 1;
    background-color: #ECEDEA;
}

.decades-of-experience__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.decades-of-experience__item {
    max-width: 480px;
}

.decades-of-experience__swiper {
    overflow: visible;
    padding-bottom: 42px;
}

.decades-of-experience {
    overflow: hidden;
}

.decades-swiper__title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.decades-of-experience__content {
    padding-top: 24px;
}

.decades-of-experience__content p {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2%;
    color: var(--color-black-light);
    max-width: 286px;
}

.decades-of-experience__header {
    margin-bottom: 40px;
}

.red-box__list {
    display: flex;
    list-style: none;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.red-box__list li {
    padding: 0 24px;
    border-left: 1px solid #D13532;
    color: #FFFFFF;
}

.red-box__list li:first-child {
    padding-left: 0;
    border: none;
}

.red-box__list {
    margin-top: 40px;
}

.section-certified__list {
    display: flex;
    gap: 80px;
    list-style: none;
}

.section-certified__list li {
    border-left: 4px solid var(--color-accent);
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding-left: 16px;
}

.section-certified__wrap {
    display: flex;
    align-items: end;
}

.section-certified__left {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-right: 133px;
    width: 43.45%;
    min-width: 400px;

}

.section-certified__left img {
    max-width: 139px;
    flex-shrink: 0;
}

.section-certified__right {
    width: 56.55%;
}

.section-certified__title {
    margin-bottom: 24px;
}

.section-certified__text {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2%;
}

.section-certified {
    padding: 160px 0;
}

.section-certified .container {
    max-width: 1480px;
}

.about-us .hero-sec {
    min-height: 650px;
    padding: 40px 0;
}

.about-us .hero-sec .btn {
    padding: 11px 16px;
}

.about-hero__top {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.about-hero__top .left {
    width: 58.2%;
    padding-right: 60px;
}

.about-hero__top .right {
    width: 41.8%;
    padding-bottom: 13px;
}

.about-hero__heading {
    font-size: 72px;
    line-height: 110.00000000000001%;
    letter-spacing: 2%;
    max-width: 467px;
}

.about-hero__desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2%;
    max-width: 284px;
}

.about-hero .section-label {
    margin-bottom: 12px;
}

.about-hero {
    padding: 80px 0 0;
}

.about-hero-img {
    margin-top: 40px;
}

.about-hero-img img {
    width: 100%;
}